.containerError {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.containerError p {
    text-align: center;
    font-size: clamp(18px,2.5vw, 36px);
    margin-bottom: 180px;
    font-weight: 500;
    color: #FF6060;
}
.linkError {
    font-size: clamp(14px, 3.5vw, 18px);
    color: #FF6060;
    font-weight: 500;
    margin-bottom: 40px;
}
.error404 {
    font-size: clamp(96px, 20vw, 288px);   
    color: #FF6060;
    font-weight: 700;
}

@media screen and (max-width: 767px){
    .containerError p {
        margin-bottom: 130px;
    }
    .containerError {
        margin-top: 100px;
    }
}