.container-footer-main {
    width: 100%;
    height: 100%;
    margin-top: 70px;
}
.container-footer {
    width: 100%;
    height: 209px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
   
}
.img-logo-footer {
    margin-bottom: 29px;
}
.no-copy {
    font-size: clamp(12px, 2.5vw, 24px);
    color: white;
    font-weight: 500;
}