.containerInfosOpen {
  width: 100%;
  border-radius: 10px;
  border-radius: 10px;
  background-color: #f6f6f6;
  margin-bottom: 30px;
}
.containerInfosClose {
  width: 100%;
  margin-bottom: 30px;
}
.btnInfos {
  width: 100%;
  padding: 15.5px 18px 15.5px 20px;
  text-align: left;
  border-radius: 10px;
  background-color: #ff6060;
  border: none;
  font-size: clamp(13px, 2vw, 18px);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.divInfos {
  padding: 30px 12px 30px 20px;
  color: #ff6060;
  font-size: clamp(12px, 2.5vw, 18px);
  font-weight: 400;
  list-style-type: none;
}

.imgArrow {
  width: clamp(16px, 2vw, 24px);
  height: 14px;
}

@media screen and (max-width: 991px) {
  .containerInfosOpen,
  .containerInfosClose {
    margin-bottom: 20px;
  }
  .imgArrow {
    height: 9px;
  }
  .btnInfos {
    padding: 7px 7px 7px 11px;
  }
}
