.divHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoHeader {
    width: 100%;
    min-width: 145px;
    height: 100%;
    min-height: 47px;
    display: block;
    @media screen and (max-width: 768px){
        width: 145px;
        height: 47px;
    }
}

